body{
    color:#2F2F2F;
    font-family: Nexa,sans-serif;
    font-weight: 600;
}
.section-title{
    color:#000;
    padding:2%;
}
.section-5{
    padding:5% 0;
}
.section-4{
    padding:4% 0;
}
.section-2{
    padding:2% 0;
}
.secondary-bg{
    background-color: #F3F2F7 !important;
}
.secondary-color{
    color:#373737
}
.desc{
    line-height:2em !important;
}
.rec.rec-arrow:disabled {
    visibility: hidden;
}
.rec.rec-arrow:hover{
    background-color:#6962ff;
}

@font-face {
    font-family: Nexa;
    src: url(./styles/fonts/nexa-webfont.ttf);
    font-weight: normal;
    font-style: normal;
  }
    
  @font-face {
    font-family: Nexa;
    src: url(./styles/fonts/nexa-bold.otf);
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: Nexa;
    src: url(./styles/fonts/nexaheavy-webfont.ttf);
    font-weight: bold;
    font-style: normal;
  }

  .course_title{
    width: 360px;
    height: 60px;
    display: flex;
    padding: 15px 16px;
    font-size: 1.2rem;
    text-align: center;
    align-items: center;
    margin-right: 16px;
    border-radius: 0px;
    background-color: #d5d8ff;
  }