body{
    color:#2F2F2F;
    font-family: Nexa,sans-serif;
}
.section-title{
    color:#000;
    padding:2%;
}
.section-5{
    padding:5% 0;
}
.section-4{
    padding:4% 0;
}
.section-2{
    padding:2% 0;
}
.secondary-bg{
    background-color: #F3F2F7 !important;
}
.secondary-color{
    color:#373737
}
.desc{
    line-height:2em !important;
}
.rec.rec-arrow:disabled {
    visibility: hidden;
}
.rec.rec-arrow:hover{
    background-color:#6962ff;
}

@font-face {
    font-family: Nexa;
    src: url(./styles/fonts/nexa-webfont.ttf)
}
@font-face {
    font-family: NexaLight;
    src: url(./styles/fonts/nexa-light.otf)
}

@font-face {
    font-family:  NexaBold;
    src: url(./styles/fonts/nexa-bold.otf)
}

@font-face {
    font-family: NexaHeavy;
    src: url(./styles/fonts/nexaheavy-webfont.ttf)
}